html,
body {
  background-image: url('/assets/images/background-texture.png');
  height: 100%;
  overscroll-behavior-y: contain;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

#root {
  height: 100%;
  display: flex;
}
